<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Elm Developer Challenge</a>
  </div>
  <div class="flex-none">
    <!-- Navigation Button -->
    <button class="btn btn-square btn-ghost w-fit p-1" [routerLink]="'/car-management'">Car Management</button>
    <button class="btn btn-square btn-ghost w-fit p-1" [routerLink]="'/car-showroom-management'">Car Showroom Management</button>
  </div>


</div>

<!-- Place <router-outlet> outside the navbar -->
<router-outlet></router-outlet>
